.search-container {
        display: flex;
        width: 350px;
        height: 50px;
        background-color: white;
        border-radius: 30px;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        margin: 0 30px;        
    }

    .search-container > img {    
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
    
    .search-container > input {
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 18px;
        padding-left: 10px;
    }


      