.beer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;
  
    .beer-card__image {
        display: block;
        max-width: 290px;
        max-height: 120px;
        width: auto;
        height: auto
    }
  
    .beer-card__content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      word-break: break-word;
  
      .beer-card__heading {
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }