.nav {
    max-width: 100vw;
    width: 100%;
    min-height: 5rem;
    height: 100%;
    position: sticky;
    z-index: 2;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px 1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color:  #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-left, .nav-right {
        max-width: 7rem;
        width: 100%;
        display: flex;
        justify-content: center;

        &__icon {
            display: flex;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
    }
}

